.b-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;

    &_location {
        margin-top: 70px;
        padding-bottom: 70px;
    }

    // &__name {
    //     background-color: #131313;
    
    // }

    // &__email {
    //     background-color: #131313;
    // }

    // &__text {
    //     background-color: #131313;
    // }
}