@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

.b-navBar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.b-navBar__item {
  width: 496px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-navBar_logo {
  color: #ffffff;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.b-navBar_logoSpan {
  color: #cfc91d;
}

.b-navBar_text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.b-header {
  background: url(/images/headerBg.jpg) no-repeat;
  background-size: 100%;
}

.b-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 170px;
}

.b-title__item {
  width: 100%;
  text-align: center;
}

.b-title__item_desk {
  color: #ffffff;
  font-size: 30px;
  line-height: 0.83;
}

.b-title__item_slogan {
  font-family: "OpenSans ExtraBold";
  color: #ffffff;
  font-size: 68px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 20.4px;
  text-transform: uppercase;
}

.b-title__item_text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.83;
}

.b-btn {
  font-family: "OpenSans ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 2.14;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
  background-color: #cfc91d;
  border-color: #cfc91d;
}

.b-btn_location {
  width: 196px;
  height: 47px;
  margin-top: 52px;
}

.b-btn:hover {
  background-color: #fcf310e3;
  border-color: #ebe422;
}

.b-aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-aboutMe__headline {
  font-family: "OpenSans ExtraBold";
  color: #02918c;
  font-size: 46px;
  font-weight: 800;
  text-transform: uppercase;
}

.b-aboutMe__headline_location {
  margin-top: 98px;
}

.b-aboutMe__separator {
  font-size: 16px;
  line-height: 2.56;
}

.b-aboutMe__text {
  font-size: 16px;
  line-height: 41px;
}

.b-aboutMe__lead {
  font-family: "OpenSans ExtraBold";
  font-size: 23px;
  line-height: 41px;
}

.b-desk {
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-desk_location {
  padding: 0 40px;
}

.b-desk__icon {
  width: 32px;
  height: 32px;
  stroke: #02918c;
}

.b-desk__icon_location {
  margin-top: 31px;
}

.b-desk__headline {
  font-family: "OpenSans ExtraBold";
  font-size: 16px;
  font-weight: 800;
  line-height: 1.44;
  text-align: center;
}

.b-desk__headline_location {
  margin-top: 29px;
}

.b-desk__text {
  font-size: 11px;
  line-height: 1.91;
  text-align: center;
}

.b-desk__text_location {
  margin: 29px 0 auto;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "OpenSans Regular";
  color: #7e8287;
}

.navbar {
  background: #02918c;
  width: 100%;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-brand:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.header {
  height: 640px;
  width: 100%;
}

.brace {
  width: 108px;
  height: 25px;
  background: url(/images/brace.png) no-repeat;
  margin-top: 48px;
}

.preview {
  margin-top: 80px;
  border-left: #616767 solid 0.3px;
}

.preview:nth-child(1) {
  border-left: none;
}
/*# sourceMappingURL=styles.css.map */