@import "variables";

@import "blocks/navBar";
@import "blocks/header";
@import "blocks/aboutMe";

html, body {
    min-height: 100%;
}
body {
    font-family: $mainFont;
    color: $grayText;
}
.navbar {
    background: $titleColor;
    width: 100%;
}
.navbar a:hover {
    color: $whiteText;
}
.navbar-light .navbar-brand {
    color: $whiteText;

    &:hover {
        color: $whiteText;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: $whiteText;

    &:hover {
        color: $whiteText;
    }
}

.header {
    height: 640px;
    width: 100%;
}
.brace {
    width: 108px;;
    height: 25px;
    background: url(/images/brace.png) no-repeat;
    margin-top: 48px;
}