@import "variables";

@import "blocks/navBar";
@import "blocks/header";

html, body {
    min-height: 100%;
}
body {
    font-family: $mainFont;
    color: $grayText;
}
.navbar {
    background: $titleColor;
}
.navbar a:hover {
    color: $whiteText;
}

.header {
    height: 728px;
    width: 100%;
}
