@import url(/packages/bootstrap-4.1.3/css/bootstrap.css);
@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

html, body {
  min-height: 100%;
}

body {
  font-family: "$mainFont";
}
