@import "variables";

@import "blocks/navBar";
@import "blocks/header";

html, body {
    min-height: 100%;
}
body {
    font-family: $mainFont;
    color: $grayText;
}
.navbar {
    background: $titleColor;
}
.navbar a:hover {
    color: $whiteText;
}
.navbar-light .navbar-brand {
    color: $whiteText;

    &:hover {
        color: $whiteText;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: $whiteText;

    &:hover {
        color: $whiteText;
    }
}

.header {
    height: 728px;
    width: 100%;
}
